<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simple.crm.workbench.mapper.transaction.TransactionMapper">
    <resultMap id="BaseResultMap" type="com.simple.crm.workbench.domain.transaction.Transaction">
        <id column="id" property="id" jdbcType="CHAR"/>
        <result column="owner" property="owner" jdbcType="CHAR"/>
        <result column="money" property="money" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="expected_date" property="expectedDate" jdbcType="CHAR"/>
        <result column="customer_id" property="customerId" jdbcType="CHAR"/>
        <result column="stage" property="stage" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="source" property="source" jdbcType="VARCHAR"/>
        <result column="activity_id" property="activityId" jdbcType="CHAR"/>
        <result column="contacts_id" property="contactsId" jdbcType="CHAR"/>
        <result column="create_by" property="createBy" jdbcType="CHAR"/>
        <result column="create_time" property="createTime" jdbcType="CHAR"/>
        <result column="edit_by" property="editBy" jdbcType="CHAR"/>
        <result column="edit_time" property="editTime" jdbcType="CHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="contact_summary" property="contactSummary" jdbcType="VARCHAR"/>
        <result column="next_contact_time" property="nextContactTime" jdbcType="CHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, owner, money, name, expected_date, customer_id, stage, type, source, activity_id,
    contacts_id, create_by, create_time, edit_by, edit_time, description, contact_summary, 
    next_contact_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tbl_tran
        where id = #{id,jdbcType=CHAR}
    </select>

    <sql id="selectReturnDetailedSql">
        tt.id,tu1.name as owner,tt.money,tt.name,tt.expected_date,tc1.name as customer_id,tdv1.value as stage,tdv1.order_no as orderNo,
        tdv2.value as type,tdv3.value as source,ta.name as activity_id,tc2.full_name as contacts_id,tu2.name as create_by,
        tt.create_time,tu3.name as edit_by,tt.edit_time,tt.description,tt.contact_summary,tt.next_contact_time
    </sql>
    <sql id="selectDetailedSql">
        from tbl_tran as tt
        join tbl_user as tu1 on tt.owner = tu1.id
        left join tbl_customer as tc1 on tt.customer_id = tc1.id
        left join tbl_dic_value as tdv1 on tt.stage = tdv1.id
        left join tbl_dic_value as tdv2 on tt.type = tdv2.id
        left join tbl_dic_value as tdv3 on tt.source = tdv3.id
        left join tbl_activity as ta on tt.activity_id = ta.id
        left join tbl_contacts as tc2 on tt.contacts_id  = tc2.id
        join tbl_user as tu2 on tt.create_by  = tu2.id
        left join tbl_user as tu3 on tt.edit_by  = tu3.id
    </sql>
    <sql id="selectDetailedByWhereSql">
        <where>
            <if test="owner != null and owner != ''">
                and tt.owner = #{owner}
            </if>
            <if test="name != null and name != ''">
                and tt.name like '%' #{name} '%'
            </if>
            <if test="customerId != null and customerId != ''">
                and tt.customer_id = #{customerId}
            </if>
            <if test="stage != null and stage != ''">
                and tt.stage = #{stage}
            </if>
            <if test="type != null and type != ''">
                and tt.type = #{type}
            </if>
            <if test="source != null and source != ''">
                and tt.source = #{source}
            </if>
            <if test="contactsId != null and contactsId != ''">
                and tt.contacts_id = #{contactsId}
            </if>
        </where>
    </sql>
    <select id="selectPagingForDetail" resultMap="BaseResultMap">
        select
        <include refid="selectReturnDetailedSql"/>
        <include refid="selectDetailedSql"/>
        <include refid="selectDetailedByWhereSql"/>
        order by create_time desc
        limit #{beginNo},#{pageSize}
    </select>

    <select id="selectCount" resultType="long">
        select count(*)
        <include refid="selectDetailedSql"/>
        <include refid="selectDetailedByWhereSql"/>
    </select>
    <select id="selectForDetailByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="selectReturnDetailedSql"/>
        <include refid="selectDetailedSql"/>
        where tt.id = #{id}
    </select>
    <select id="selectForDetailByCustomerId" resultMap="BaseResultMap">
        select
        <include refid="selectReturnDetailedSql"/>
        <include refid="selectDetailedSql"/>
        where tt.customer_id = #{customerId}
    </select>
    <select id="selectForDetailByContactsId" resultMap="BaseResultMap">
        select
        <include refid="selectReturnDetailedSql"/>
        <include refid="selectDetailedSql"/>
        where tt.contacts_id = #{contactsId}
    </select>
    <select id="selectCountOfGroupByStage" resultType="com.simple.crm.workbench.domain.FunnelVO">
        select count(*) as value, max(tdv.value) as name
        from tbl_tran as tt
                 join tbl_dic_value tdv on tt.stage = tdv.id
        group by tt.stage
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from tbl_tran
        where id = #{id,jdbcType=CHAR}
    </delete>
    <delete id="deleteByPrimaryKeys">
        delete from tbl_tran
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.simple.crm.workbench.domain.transaction.Transaction">
        insert into tbl_tran (id, owner, money, name,
                              expected_date, customer_id, stage,
                              type, source, activity_id,
                              contacts_id, create_by, create_time,
                              edit_by, edit_time, description,
                              contact_summary, next_contact_time)
        values (#{id,jdbcType=CHAR}, #{owner,jdbcType=CHAR}, #{money,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
                #{expectedDate,jdbcType=CHAR}, #{customerId,jdbcType=CHAR}, #{stage,jdbcType=VARCHAR},
                #{type,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{activityId,jdbcType=CHAR},
                #{contactsId,jdbcType=CHAR}, #{createBy,jdbcType=CHAR}, #{createTime,jdbcType=CHAR},
                #{editBy,jdbcType=CHAR}, #{editTime,jdbcType=CHAR}, #{description,jdbcType=VARCHAR},
                #{contactSummary,jdbcType=VARCHAR}, #{nextContactTime,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.simple.crm.workbench.domain.transaction.Transaction">
        insert into tbl_tran
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="owner != null">
                owner,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="expectedDate != null">
                expected_date,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="stage != null">
                stage,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="activityId != null">
                activity_id,
            </if>
            <if test="contactsId != null">
                contacts_id,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="editBy != null">
                edit_by,
            </if>
            <if test="editTime != null">
                edit_time,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="contactSummary != null">
                contact_summary,
            </if>
            <if test="nextContactTime != null">
                next_contact_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=CHAR},
            </if>
            <if test="owner != null">
                #{owner,jdbcType=CHAR},
            </if>
            <if test="money != null">
                #{money,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="expectedDate != null">
                #{expectedDate,jdbcType=CHAR},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=CHAR},
            </if>
            <if test="stage != null">
                #{stage,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=VARCHAR},
            </if>
            <if test="activityId != null">
                #{activityId,jdbcType=CHAR},
            </if>
            <if test="contactsId != null">
                #{contactsId,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=CHAR},
            </if>
            <if test="editBy != null">
                #{editBy,jdbcType=CHAR},
            </if>
            <if test="editTime != null">
                #{editTime,jdbcType=CHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="contactSummary != null">
                #{contactSummary,jdbcType=VARCHAR},
            </if>
            <if test="nextContactTime != null">
                #{nextContactTime,jdbcType=CHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.simple.crm.workbench.domain.transaction.Transaction">
        update tbl_tran
        <set>
            <if test="owner != null">
                owner = #{owner,jdbcType=CHAR},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="expectedDate != null">
                expected_date = #{expectedDate,jdbcType=CHAR},
            </if>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=CHAR},
            </if>
            <if test="stage != null">
                stage = #{stage,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=VARCHAR},
            </if>
            <if test="activityId != null">
                activity_id = #{activityId,jdbcType=CHAR},
            </if>
            <if test="contactsId != null">
                contacts_id = #{contactsId,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=CHAR},
            </if>
            <if test="editBy != null">
                edit_by = #{editBy,jdbcType=CHAR},
            </if>
            <if test="editTime != null">
                edit_time = #{editTime,jdbcType=CHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="contactSummary != null">
                contact_summary = #{contactSummary,jdbcType=VARCHAR},
            </if>
            <if test="nextContactTime != null">
                next_contact_time = #{nextContactTime,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.simple.crm.workbench.domain.transaction.Transaction">
        update tbl_tran
        set owner             = #{owner,jdbcType=CHAR},
            money             = #{money,jdbcType=VARCHAR},
            name              = #{name,jdbcType=VARCHAR},
            expected_date     = #{expectedDate,jdbcType=CHAR},
            customer_id       = #{customerId,jdbcType=CHAR},
            stage             = #{stage,jdbcType=VARCHAR},
            type              = #{type,jdbcType=VARCHAR},
            source            = #{source,jdbcType=VARCHAR},
            activity_id       = #{activityId,jdbcType=CHAR},
            contacts_id       = #{contactsId,jdbcType=CHAR},
            create_by         = #{createBy,jdbcType=CHAR},
            create_time       = #{createTime,jdbcType=CHAR},
            edit_by           = #{editBy,jdbcType=CHAR},
            edit_time         = #{editTime,jdbcType=CHAR},
            description       = #{description,jdbcType=VARCHAR},
            contact_summary   = #{contactSummary,jdbcType=VARCHAR},
            next_contact_time = #{nextContactTime,jdbcType=CHAR}
        where id = #{id,jdbcType=CHAR}
    </update>

</mapper>