<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simple.crm.workbench.mapper.contacts.ContactsMapper">
    <cache/>
    <resultMap id="BaseResultMap" type="com.simple.crm.workbench.domain.contacts.Contacts">
        <id column="id" property="id" jdbcType="CHAR"/>
        <result column="owner" property="owner" jdbcType="CHAR"/>
        <result column="source" property="source" jdbcType="VARCHAR"/>
        <result column="customer_id" property="customerId" jdbcType="CHAR"/>
        <result column="full_name" property="fullName" jdbcType="VARCHAR"/>
        <result column="appellation" property="appellation" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="cell_phone" property="cellPhone" jdbcType="VARCHAR"/>
        <result column="job" property="job" jdbcType="VARCHAR"/>
        <result column="birth" property="birth" jdbcType="CHAR"/>
        <result column="create_by" property="createBy" jdbcType="CHAR"/>
        <result column="create_time" property="createTime" jdbcType="CHAR"/>
        <result column="edit_by" property="editBy" jdbcType="CHAR"/>
        <result column="edit_time" property="editTime" jdbcType="CHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="contact_summary" property="contactSummary" jdbcType="VARCHAR"/>
        <result column="next_contact_time" property="nextContactTime" jdbcType="CHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, owner, source, customer_id, full_name, appellation, email, cell_phone, job, birth, 
    create_by, create_time, edit_by, edit_time, description, contact_summary, next_contact_time, 
    address
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tbl_contacts
        where id = #{id,jdbcType=CHAR}
    </select>

    <sql id="selectResultContactsForDetailSql">
        tc1.id,tu1.name as owner,tdv2.value as source,tc2.name as customer_id,tc1.full_name,tdv1.value as appellation,
        tc1.email,tc1.cell_phone,tc1.job,tc1.birth,tu2.name as create_by,tc1.create_time,tu3.name as edit_by,
        tu1.edit_time,tc1.description,tc1.contact_summary,tc1.next_contact_time,tc1.address
    </sql>
    <sql id="selectContactsForDetailSql">
        from tbl_contacts as tc1
        join tbl_user as tu1 on tc1.owner = tu1.id
        left join tbl_dic_value as tdv2 on tc1.source = tdv2.id
        left join tbl_customer as tc2 on tc1.customer_id = tc2.id
        left join tbl_dic_value as tdv1 on tc1.appellation = tdv1.id
        join tbl_user as tu2 on tc1.create_by = tu2.id
        left join tbl_user as tu3 on tc1.edit_by = tu3.id
    </sql>
    <sql id="selectContactsByWhereIfSql">
        <where>
            <if test="contacts.owner != null and contacts.owner != ''">
                and tc1.owner like '%' #{contacts.owner} '%'
            </if>
            <if test="contacts.fullName != null and contacts.fullName != ''">
                and tc1.full_name like '%' #{contacts.fullName} '%'
            </if>
            <if test="contacts.customerId != null and contacts.customerId != ''">
                and tc1.customer_id like '%' #{contacts.customerId} '%'
            </if>
            <if test="contacts.source != null and contacts.source != ''">
                and tc1.source like '%' #{contacts.source} '%'
            </if>
            <if test="contacts.birth != null and contacts.birth != ''">
                and tc1.birth like '%' #{contacts.birth} '%'
            </if>
        </where>
    </sql>
    <select id="selectPagingContactsForDetail" resultMap="BaseResultMap">
        select
        <include refid="selectResultContactsForDetailSql"/>
        <include refid="selectContactsForDetailSql"/>
        <include refid="selectContactsByWhereIfSql"/>
        limit #{beginNo},#{pageSize}
    </select>
    <select id="selectCountContacts" resultType="java.lang.Long">
        select count(*)
        <include refid="selectContactsForDetailSql"/>
        <include refid="selectContactsByWhereIfSql"/>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_contacts
    where id = #{id,jdbcType=CHAR}
  </delete>
    <delete id="deleteByMultiplePrimaryKey">
        delete from tbl_contacts
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <insert id="insert" parameterType="com.simple.crm.workbench.domain.contacts.Contacts">
    insert into tbl_contacts (id, owner, source, 
      customer_id, full_name, appellation, 
      email, cell_phone, job, 
      birth, create_by, create_time, 
      edit_by, edit_time, description, 
      contact_summary, next_contact_time, address
      )
    values (#{id,jdbcType=CHAR}, #{owner,jdbcType=CHAR}, #{source,jdbcType=VARCHAR}, 
      #{customerId,jdbcType=CHAR}, #{fullName,jdbcType=VARCHAR}, #{appellation,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{cellPhone,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, 
      #{birth,jdbcType=CHAR}, #{createBy,jdbcType=CHAR}, #{createTime,jdbcType=CHAR}, 
      #{editBy,jdbcType=CHAR}, #{editTime,jdbcType=CHAR}, #{description,jdbcType=VARCHAR}, 
      #{contactSummary,jdbcType=VARCHAR}, #{nextContactTime,jdbcType=CHAR}, #{address,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.simple.crm.workbench.domain.contacts.Contacts">
        insert into tbl_contacts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="owner != null">
                owner,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="fullName != null">
                full_name,
            </if>
            <if test="appellation != null">
                appellation,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="cellPhone != null">
                cell_phone,
            </if>
            <if test="job != null">
                job,
            </if>
            <if test="birth != null">
                birth,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="editBy != null">
                edit_by,
            </if>
            <if test="editTime != null">
                edit_time,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="contactSummary != null">
                contact_summary,
            </if>
            <if test="nextContactTime != null">
                next_contact_time,
            </if>
            <if test="address != null">
                address,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=CHAR},
            </if>
            <if test="owner != null">
                #{owner,jdbcType=CHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=VARCHAR},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=CHAR},
            </if>
            <if test="fullName != null">
                #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="appellation != null">
                #{appellation,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="cellPhone != null">
                #{cellPhone,jdbcType=VARCHAR},
            </if>
            <if test="job != null">
                #{job,jdbcType=VARCHAR},
            </if>
            <if test="birth != null">
                #{birth,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=CHAR},
            </if>
            <if test="editBy != null">
                #{editBy,jdbcType=CHAR},
            </if>
            <if test="editTime != null">
                #{editTime,jdbcType=CHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="contactSummary != null">
                #{contactSummary,jdbcType=VARCHAR},
            </if>
            <if test="nextContactTime != null">
                #{nextContactTime,jdbcType=CHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.simple.crm.workbench.domain.contacts.Contacts">
        update tbl_contacts
        <set>
            <if test="owner != null">
                owner = #{owner,jdbcType=CHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=VARCHAR},
            </if>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=CHAR},
            </if>
            <if test="fullName != null">
                full_name = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="appellation != null">
                appellation = #{appellation,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="cellPhone != null">
                cell_phone = #{cellPhone,jdbcType=VARCHAR},
            </if>
            <if test="job != null">
                job = #{job,jdbcType=VARCHAR},
            </if>
            <if test="birth != null">
                birth = #{birth,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=CHAR},
            </if>
            <if test="editBy != null">
                edit_by = #{editBy,jdbcType=CHAR},
            </if>
            <if test="editTime != null">
                edit_time = #{editTime,jdbcType=CHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="contactSummary != null">
                contact_summary = #{contactSummary,jdbcType=VARCHAR},
            </if>
            <if test="nextContactTime != null">
                next_contact_time = #{nextContactTime,jdbcType=CHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.simple.crm.workbench.domain.contacts.Contacts">
    update tbl_contacts
    set owner = #{owner,jdbcType=CHAR},
      source = #{source,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=CHAR},
      full_name = #{fullName,jdbcType=VARCHAR},
      appellation = #{appellation,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      cell_phone = #{cellPhone,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=CHAR},
      edit_by = #{editBy,jdbcType=CHAR},
      edit_time = #{editTime,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      contact_summary = #{contactSummary,jdbcType=VARCHAR},
      next_contact_time = #{nextContactTime,jdbcType=CHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
    <update id="updateContactsByCustomerId" parameterType="string">
        update tbl_contacts
        set customer_id = ''
        where customer_id in
        <foreach collection="array" item="customerId" open="(" separator="," close=")">
            #{customerId}
        </foreach>
    </update>
</mapper>